<div class="nav">
    <div class="text1">
    <h2>VOYAGER</h2>
    <!-- <img class="navimg" src="https://cdn-icons-png.flaticon.com/512/201/201623.png"> -->
    <img class="navimg" src="https://cdn-icons-png.flaticon.com/512/201/201623.png">
</div>
    <div>
        <ul>
            <li>Trips</li>
            <li>Membership</li><li>Piggy Bank</li>
            <li>Contact Us</li><li>Blog</li>
            <li>Login/Sign Up</li>
            <li><button>Book Now</button></li>
        </ul>
    </div>
</div>